
/*I will make the organization of each part so that I can 
make it look as close as possible to the example webpage */
header {
    background-color: rgb(40, 74, 130);
    color: aliceblue;
}
/*this makes the header hyperlinks remove the 
underline and change the color to white*/
header a{
    text-decoration: none;
    color: aliceblue;
}
/*this removes the bullet points for the header links*/
header ul{

    list-style: none;
}

button{ 
 color: white;
 background-color: #467fdb;
 font-weight: 500;

}
.firstbody{
    background-color: rgb(40, 74, 130);
    color: aliceblue;
    
}
.inspiringquote{
    background-color: lightgray;

}
.Thorquote{
    font-weight: bold;
    
}
footer{
    background-color: rgb(69, 69, 119);
    color: white;
    display: flex;
    justify-content: space-between;

}
html{
background-color: black;
padding-left: 100px;
padding-right: 100px;
}

footer button{

    border-radius: 5px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerlinks ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.headerlinks li {
    margin-left: 20px;
}

.headerlinks a {
    color: #E5E7EB;
    text-decoration: none;

}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 80px;
    gap: 100px;
    
}

.hero-content {
    flex: 1;
    margin-right: 50px;
}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
    padding-right: 100px;
}

.to-action{

color: white;
display: flex;
justify-content: center;

}
/* left off on top give padding to text*/
.hero button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.hero img {
    flex: 1;
    max-width: 50%;
    height: auto;
    
}
.image-container{
    background-color: white;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 80px;
    
}

